body{
    padding: 0px;
    margin: 0px;

}
#page{
    width: 1000px;
    margin: 0 auto;
}
header{
    height: 500px;
    background-image: url('1.jpg');
    background-color: brown;
    width: 500px;
}
nav{
    line-height: 25px;
    background-color: cadetblue;
    text-align: center;
    font-size: 20px;
}
.menu>ul>li{
    display: inline-block;
    
}
    


.menu>ul>li>a{
    display: block;
}
.menu>ul{ 
    <div class="logonew">
                        
        <a href="https://www.facebook.com/tocotocobubbletea/"/>
        
        
        <a href="https://www.instagram.com/tocotoco_bubble_tea/" class="ins-icon"><i class="fab fa-instagram" ></i></a>
        
        
        <a href="https://www.youtube.com/c/ToCoToCoBubbleTea" class="yt-icon"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                                    
                            
       
        
        <a href="https://zalo.me/2268915497539367639" class="gg-icon"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
            
    </div>
  <div class="copy">ToCoToCo - Thương hiệu trà sữa tiên phong sử dụng nguồn nông sản Việt Nam

</div>
  </div>
  </div>

   </footer>
      padding: 0px;
      margin: 0px;
      list-style: none;
      border-radius: 3px;
      background-color: orangered;
      text-align: center;
    
      
} 
 .menu>ul>li>a{
    text-decoration: none;
    font-variant: small-caps;
    font-size: large;
    color: white;
    padding: 0 10px;
    line-height: 40px;
}
.menu>ul>li>a:hover{
    color: yellow;
} 
.menu ul ul{
    position: absolute;
    display: none;
    padding:0px;
    margin: 0px;
    list-style: none;
    border-radius:3px;
width:200px;
 background-color:white;
 box-shadow:0 0 1px gray;

}
.menu ul ul a{
    display:block;
    line-height:30px;
 color:orangered;
text-decoration:none;
 font-variant:small-caps;
font-size:larger;
 padding:0 10 pixel;

}
.menu>ul>li:hover>ul{
    display: block;
    z-index: 1;
} 
.menu ul ul a:hover{
    background-color: orangered;
    color: white;
} 